<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="container" *ngIf="!showScanner">
    <ion-button expand="block" (click)="abrirScanner()">
      Escanear QR
    </ion-button>
  </div>

  <div class="scanner-container" *ngIf="showScanner">
    <ion-button fill="clear" color="medium" size="small" (click)="cerrarScanner()" style="float: right;">
      cerrar escáner
    </ion-button>

    <zxing-scanner
      [torch]="false"
      [tryHarder]="true"
      (scanSuccess)="handleScan($event)">
    </zxing-scanner>
  </div>
</ion-content>
