// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

// .container, .scanner-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   gap: 20px;
// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
}

.scanner-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
  margin-bottom: 10px;
}

.scanner-header p {
  margin: 0;
  font-size: 16px;
}

.scanner {
  width: 80%;
  max-width: 400px;
  border: 4px solid white;
  border-radius: 12px;
}
